<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EASendMail" version="7.9.1.6" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="System.Security.Cryptography.Pkcs" version="7.0.1" targetFramework="net472" />
</packages>