<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<!--
For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

The following attributes can be set on the <httpRuntime> tag.
<system.Web>
<httpRuntime targetFramework="4.7.2" />
</system.Web>
-->
	
	<system.web>
		<trust level="Full" />
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.7.2" />
		<authentication mode="None" />
		<httpRuntime targetFramework="4.7.2" maxRequestLength="1048576" />
	</system.web>
	<connectionStrings>
		<!--<add name="DefaultConnection" connectionString="Data Source=192.168.1.16;Initial Catalog=HrToolTip;Uid=sa;Password=uatsa@123;" providerName="System.Data.SqlClient" />-->
		<!--<add name="ApplicationDataContext" connectionString="Data Source=MDEVPC-215; Initial Catalog=TestingHRMS;Integrated Security=true;" providerName="System.Data.SqlClient" />-->
		<!--<add name="DefaultConnection" connectionString="Data Source=192.168.1.16;Initial Catalog=EFMS;Uid=sa;Password=uatsa@123;" providerName="System.Data.SqlClient" />-->
		<!--AK-Sir-->
		<!-- https://hrbackend.moreyeahs.in-->
		<!--<add name="DefaultConnection" connectionString="Data Source=192.168.1.16;Initial Catalog=HRData;Uid=sa;Password=uatsa@123;" providerName="System.Data.SqlClient" />-->
		<!--AK-Sir-->
		<!--<add name="DefaultConnection" connectionString="Data Source=192.168.1.16;Initial Catalog=TestingHRMS;Uid=sa;Password=sa@123;" providerName="System.Data.SqlClient" />-->
		<!-- UAT-->
		<!-- Dev Environment-->
		<!--<add name="DefaultConnection" connectionString="Data Source=192.168.1.50;Initial Catalog=EFMS;Uid=sa;Password=sa@123;" providerName="System.Data.SqlClient" />-->
		<!--<add name="DefaultConnection" connectionString="Data Source=192.168.1.50;Initial Catalog=TestingHRMS;Uid=sa;Password=sa@123;" providerName="System.Data.SqlClient" />-->
		<!--<add name="DefaultConnection" connectionString="Data Source=MDEVPC-64\SQLEXPRESS;Initial Catalog=EFMS;Uid=sa;Password=sa@123;" providerName="System.Data.SqlClient" />-->
		<!--<add name="DefaultConnection" connectionString="Data Source=MDEVPC-64\SQLEXPRESS;Initial Catalog=EFMS;Uid=sa;Password=sa@123;" providerName="System.Data.SqlClient" />-->
		<!--<add name="defaultconnection" connectionstring="data source=desktop-hndi6l1;initial catalog=efmsnewdb;uid=sa;password=sa@123;" providername="system.data.sqlclient" />-->
		<!--<add name="DefaultConnection" connectionString="Data Source=MDEVPC29;Initial Catalog=EFMS;Uid=sa;Password=sa@123;" providerName="System.Data.SqlClient" />-->
		<!--<add name="DefaultConnection" connectionString="Data Source=MDEVPC-103\SQLEXPRESS;Initial Catalog=EFMS;Uid=sa;Password=sa@123;" providerName="System.Data.SqlClient" />-->
		<!--<add name="DefaultConnection" connectionString="Data Source=MDEVPC-179;Initial Catalog=TestingHRMS;Uid=sa;Password=Sa@123;" providerName="System.Data.SqlClient" />-->
		<!--<add name="DefaultConnection" connectionString="Data Source=MDEVPC-179;Initial Catalog=UserAccessNew;Uid=sa;Password=Sa@123;" providerName="System.Data.SqlClient" />-->
		<!--<add name="DefaultConnection" connectionString="Data Source=MDEVPC-114;Initial Catalog=TestingHRMS;Uid=sa;Password=sa@123;" providerName="System.Data.SqlClient" />-->

		<!--Harshit Dev Server //////////////////////////// -->
		<!--<add name="DefaultConnection" connectionString="Data Source=MDEVPC-247;Initial Catalog=EmossyNew;Uid=sa;Password=sa@123;" providerName="System.Data.SqlClient" />-->
		<!--<add name="DefaultConnection" connectionString="Data Source=MDEVPC-247;Initial Catalog=UserAccess;Uid=sa;Password=sa@123;" providerName="System.Data.SqlClient" />-->
		<!--<add name="DefaultConnection" connectionString="Data Source=MDEVPC-247;Initial Catalog=isaTesting;Uid=sa;Password=sa@123;" providerName="System.Data.SqlClient" />-->
		<add name="DefaultConnection" connectionString="Data Source=MDEVPC-247;Initial Catalog=DevBackupDb;Uid=sa;Password=sa@123;" providerName="System.Data.SqlClient" />
		<!--<add name="DefaultConnection" connectionString="Data Source=MDEVPC-247;Initial Catalog=TestingHRMS;Uid=sa;Password=sa@123;" providerName="System.Data.SqlClient" />-->
		<!--<add name="DefaultConnection" connectionString="Data Source=MDEVPC-247;Initial Catalog=hrhelpdesk;Uid=sa;Password=sa@123;" providerName="System.Data.SqlClient" />-->
		<!--<add name="DefaultConnection" connectionString="Data Source=MDEVPC-247;Initial Catalog=EmossyWall_DB;Uid=sa;Password=sa@123;" providerName="System.Data.SqlClient" />-->
		<!--<add name="DefaultConnection" connectionString="Data Source=MDEVPC-247;Initial Catalog=TimeSheetHarshitPc;Uid=sa;Password=sa@123;" providerName="System.Data.SqlClient" />-->
		<!--<add name="DefaultConnection" connectionString="Data Source=192.168.1.50;Initial Catalog=TestingHRMS;Uid=sa;Password=sa@123;" providerName="System.Data.SqlClient" />-->

		<!--<add name="DefaultConnection" connectionString="Data Source=192.168.1.117;Initial Catalog=TestingHRMS;Uid=sa;Password=sa@123;" providerName="System.Data.SqlClient" />-->
		<!--Ankit Local //////////////////////////// -->
		<!--<add name="defaultconnection" connectionstring="data source=Desktop-hndi6l1;initial catalog=testinghrms;uid=sa;password=sa@123;" providername="system.data.sqlclient" />-->
		<!-- https://emossyappbackend.emossy.com/ -->
		<!--<add name="DefaultConnection" connectionString="Data Source=RKhata-VM; Initial Catalog=hrhelpdesk; Uid=sa; Password=MYSIT@2022;" providerName="System.Data.SqlClient" />-->
		<!--<add name="DefaultConnection" connectionString="Data Source=MDEVPC-114\SQLEXPRESS; Initial Catalog=SkillHRMS;Integrated Security=true;" providerName="System.Data.SqlClient" />-->
		<!--<add name="DefaultConnection" connectionString="Data Source=DESKTOP-HNDI6L1;Initial Catalog=TestingHRMS;Uid=sa;Password=sa@123;" providerName="System.Data.SqlClient" />-->
		<!--Harshit Dev Server //////////////////////////// -->
		<!-- Dev Environment-->
		<!--Suraj Bundel Local Start-->
		<!--<add name="DefaultConnection" connectionString="Data Source=MDEVPC-215; Initial Catalog=TestingHRMS;Uid=sa;Password=sa@123;" providerName="System.Data.SqlClient" />-->
		<!--<add name="DefaultConnection" connectionString="Data Source=DESKTOP-1MO8F3G\SQLEXPRESS; Initial Catalog=TestingHRMS;Integrated Security = true;" providerName="System.Data.SqlClient" />-->
		<!--Suraj Bundel Local End -->
		<!-- Live Environment-->
		<!--<add name="DefaultConnection" connectionString="Data Source=192.168.1.14;Initial Catalog=EFMS;Uid=more;Password=yeahs@123;" providerName="System.Data.SqlClient" />-->
		<!-- Live Environment-->
		<!-- Ravi Local-->
		<!--<add name="DefaultConnection" connectionString="Data Source=MDEVPC-66\SQLEXPRESS;Initial Catalog=EmossyNewDB;Uid=sa;Password=sa@123;" providerName="system.data.sqlclient" />-->
		<!-- https://app.emossy.com -->
		<!--<add name="DefaultConnection" connectionString="Data Source=EMOSSY-PROD\SQLEXPRESS; Initial Catalog=hrhelpdesk; Uid=sa; Password=Bluebird12345@;" providerName="System.Data.SqlClient" />--> 
	</connectionStrings>
	<appSettings>
		<add key="emailService:Account" value="" />
		<add key="emailService:Password" value="" />
		<add key="as:AudienceId" value="414e1927a3884f68abc79f7283837fd1" />
		<add key="as:AudienceSecret" value="qMCdFDQuF23RV1Y-1Gq9L3cF3VmuFwVbam4fMTdAfpo" />
		<add key="MasterEmail" value="Notification@emossy.com" />
		<add key="MailUser" value="Notification@emossy.com" />
		<add key="MailPassword" value="Emossy@2022" />
		<add key="SmtpServer" value="smtp.office365.com" />
		<add key="Port" value="587" />
		<add key="EncryptKey" value="b14ca5898a4e4133bbce2ea2315a1916" />
		<!--<add key="emailService:Account" value="" />
		<add key="emailService:Password" value="" />
		<add key="as:AudienceId" value="414e1927a3884f68abc79f7283837fd1" />
		<add key="as:AudienceSecret" value="qMCdFDQuF23RV1Y-1Gq9L3cF3VmuFwVbam4fMTdAfpo" />
		<add key="MasterEmail" value="Emossy.testing@emossy.com" />
		<add key="MailUser" value="Emossy.testing@emossy.com" />
		<add key="MailPassword" value="monijain@2702" />
		<add key="SmtpServer" value="smtp.office365.com" />
		<add key="Port" value="587" />
		<add key="EncryptKey" value="b14ca5898a4e4133bbce2ea2315a1916" />-->
	</appSettings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.23.1.0" newVersion="6.23.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.23.1.0" newVersion="6.23.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<handlers>
			<remove name="WebDAV" />
		<remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824" />
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>